<h1>Crear Blog</h1>

<div id="container_blog" style="text-align: center;">	
	<h1>Dogs</h1>

	<form id="blog_form" name="blog_form" style="display: inline-block;">
		<span>Titulo:</span><br/>
   		<input required ng-model="blog.inputTitle" name="inputTitle" type="text" id="inputTitle" placeholder="Titulo" ng-minlength="5" ng-maxlength="30"/><br/>
		<span class="text-danger" ng-show="blog_form.inputTitle.$error.required && (blog_form.inputTitle.$dirty || blog_form.inputTitle.$touched)">Introduzca un nombre</span><br/>
		<span class="text-danger" ng-show="blog_form.inputTitle.$error.minlength && (blog_form.inputTitle.$dirty || blog_form.inputTitle.$touched)">Introduzca mas de 5 caracteres<br/></span>
		<span class="text-danger" ng-show="blog_form.inputTitle.$error.maxlength && (blog_form.inputTitle.$dirty || blog_form.inputTitle.$touched)">Introduzca menos de 20 caracteres<br/></span>

        <span>Texto:</span><br/>
   		<textarea required ng-model="blog.inputText" name="inputText" rows="10" cols="75" id="inputText" ng-minlength="50" ng-maxlength="200"></textarea><br/>
   		<span class="text-danger" ng-show="blog_form.inputText.$error.required && (blog_form.inputText.$dirty || blog_form.inputText.$touched)">Introduzca un mensaje</span><br/>
   		<span class="text-danger" ng-show="blog_form.inputText.$error.minlength">Introduzca mas de 50 caracteres<br/></span>
		<span class="text-danger" ng-show="blog_form.inputText.$error.maxlength">Introduzca menos de 200 caracteres<br/></span>

		<span>Portada</span><br/>
	    <div class="msg" ></div><br/>
		<button required id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button><br>

		<br><input class="btn btn-primary" type="submit" id="submitBtn" name="submit" value="Send" ng-show="blog_form.inputTitle.$valid && blog_form.inputText.$valid" ng-click="submitBlog()"/>

	</form>

</div>
