<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body" id="modal-body" style="text-align: center;">
	<span>{{infoUser.user}}</span>
	<div>
		<div>
			<img ng-src="{{infoUser.avatar}}"></a>
		</div>
		<div style="text-align: left; display: inline-block;">
			<span>Nombre: {{infoUser.name}}</span><br>
			<span>Apellidos: {{infoUser.surname}}</span><br>
			<span>Correo electronico: {{infoUser.email}}</span><br>
			<span>Fecha de nacimineto: {{infoUser.birthday}}</span><br>
		</div>
	</div>
</div>	
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="close()">Close</button>
</div>