<h1>Blogs</h1>

<div id="container_blogs" ng-show="contBlogV">
	<div class="container_blog" ng-repeat="data in dataBlog| filter:filtro" ng-click="sarBlog(data.id)">
		
		<div class="title_blog">
			<h5>{{data.title}}</h5>
		</div>
		<div class="img_blog">
			<img ng-src="{{data.cover}}">
		</div>
		<div class="footer_blog">
			<span><ng-md-icon icon="remove_red_eye" style="fill: gray; vertical-align: sub;"></ng-md-icon> {{data.touched}}</span>
			<span><ng-md-icon icon="date_range" style="fill: gray; vertical-align: sub;"></ng-md-icon> {{data.data}}</span>
		</div>
	</div>
</div>

<div ng-show="detBlogV">
	<div style="margin-right: 5%; margin-left: 5%;">
		<div id="detcontblog">
			<div id="img_detblog">
				<img ng-src="{{detBlog.cover}}">
			</div>
			<div id="title_detblog">
				<h3>{{detBlog.title}}</h3>
			</div>
			<div id="text_detblog" style="text-align: justify;">
				<p>{{detBlog.text}}</p>
			</div>
			<div id="footer_detblog">
				<span><ng-md-icon icon="remove_red_eye" style="fill: gray; vertical-align: sub;"></ng-md-icon> {{detBlog.touched}}</span>
				<span><ng-md-icon icon="date_range" style="fill: gray; vertical-align: sub;"></ng-md-icon> {{detBlog.data}}</span>
				<span ng-show="valVal"><ng-md-icon icon="star" style="fill: gray; vertical-align: sub;"></ng-md-icon>{{dataRate.suma}} de {{dataRate.votos}} votos </span>
				<select ng-show="disSelect" name="selectVal" ng-model="selectVal" ng-change="insertVal(detBlog.id)" ng-attrsize="5" style="border-color: #f0f8ff00; background-color: #ffffff00;">
					<option value="" ng-show="selectValB">Valorar</option>
                  	<option ng-value="1">1</option>
                  	<option ng-value="2">2</option>
                  	<option ng-value="3">3</option>
                  	<option ng-value="4">4</option>
                    <option ng-value="5">5</option>
                </select>
			</div>
			<button ng-click="butVolver()">Volver</button>
		</div>
		<div id="comentsblog">
			<h2>Comentarios</h2>
			<form id="comment_form" name="comment_form">
				<input required ng-model="comment.inputText" name="inputText" type="text" id="inputText" placeholder="Comentario..." ng-minlength="5" ng-maxlength="50"/><br/>
				<span class="text-danger" ng-show="comment_form.inputText.$error.required && (comment_form.inputText.$dirty || comment_form.inputText.$touched)">Introduzca un comentario</span><br/>
				<span class="text-danger" ng-show="comment_form.inputText.$error.minlength && (comment_form.inputText.$dirty || comment_form.inputText.$touched)">Introduzca mas de 5 caracteres<br/></span>
				<span class="text-danger" ng-show="comment_form.inputText.$error.maxlength && (comment_form.inputText.$dirty || comment_form.inputText.$touched)">Introduzca menos de 50 caracteres<br/></span>
				<input class="btn btn-primary" type="submit" id="submitBtn" name="submit" value="Send" ng-show="comment_form.inputText.$valid" ng-click="submitComment(detBlog.id,detBlog.comment)"/>
			</form>
			<span ng-if="valComm">Sin comentarios</span>
			<div ng-repeat="data in dataComments | filter:filtro">
				<div>
					<p style="text-align: left; border-bottom: 1px solid gray; padding-bottom: 2px;"><span ng-click="openProf(data.IDuser)">{{data.IDuser}}</span>: {{data.text}}</p>
				</div>
			</div>
		</div>
	
	</div>
</div>
