<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body" id="modal-body" style="text-align: center;">
	<button id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button>
</div>	
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="close()">Close</button>
    <button class="btn btn-primary" type="button" ng-click="saveAvatar()">Guardar Cambios</button>
</div>