<div id="content_reac_pass">
	<h3>Recuperar contraseña</h3>
	<form id="recpass_form" name="recpass_form">
		<table>
		 	<tr>
		       	<td>Nueva Contraseña: </td>
		       	<td>
		       		<input required type="password" name="inputPassword" id="inputPassword" ng-model="recpass.inputPassword" placeholder="Contraseña" ng-minlength="6" ng-maxlength="40"/>
		       		<span class="text-danger" ng-show="recpass_form.inputPassword.$error.required && (recpass_form.inputPassword.$dirty || recpass_form.inputPassword.$touched)">Introduzca un contraseña</span>
       				<span class="text-danger" ng-show="recpass_form.inputPassword.$error.minlength">Introduzca mas de 6 caracteres</span>
       				<span class="text-danger" ng-show="recpass_form.inputPassword.$error.maxlength">Introduzca menos de 40 caracteres</span>
		      	</td>
		    </tr>
		    <tr>
		       	<td>Repetir contraseña: </td>
		       	<td>
		       		<input required type="password" name="inputRPassword" id="inputRPassword" ng-model="recpass.inputRPassword" placeholder="Repetir contraseña" ng-minlength="6" ng-maxlength="40"/>
		       		<span class="text-danger" ng-show="recpass_form.inputRPassword.$error.required && (recpass_form.inputRPassword.$dirty || recpass_form.inputRPassword.$touched)">Introduzca un contraseña</span>
       				<span class="text-danger" ng-show="recpass_form.inputRPassword.$error.minlength">Introduzca mas de 6 caracteres</span>
       				<span class="text-danger" ng-show="recpass_form.inputRPassword.$error.maxlength">Introduzca menos de 40 caracteres</span>
       				<span class="text-danger" ng-show="recpass.inputRPassword != recpass.inputPassword && (recpass_form.inputRPassword.$dirty || recpass_form.inputRPassword.$touched)">Las contraseñas no coinciden</span>
		      	</td>
		    </tr>
		    <tr>
		   		<td>
		   			<input class="btn btn-primary" type="submit" id="sendRegister" name="sendRegister" value="Registrarse"
	               ng-show="recpass_form.inputPassword.$valid && recpass_form.inputRPassword.$valid && recpass.inputRPassword === recpass.inputPassword"
	               ng-click="submitRecPass()"/>
	           </td>
		    </tr>
		</table>
	</form>
</div>