<div id="list_dogs">
	<div class='content_data_list' ng-click="open(data.chip)" ng-repeat="data in selbreed| filter:filtro">
		<div id='content_img' >
			<img class='modalbutt' ng-src="{{data.picture}}">
		</div>
		<div id='content_info'>
			<div id='header_list'>
				<span>Nombre: {{data.name}}</span>
				<br>
				<span> Raza: {{data.breed}} </span>
			</div>
			<div id='content_list'>
				<span>Sexo: {{data.sex}} </span>
				<br>
				<span> Estatura: {{data.stature}} </span>
			</div>
			<div id='footer_list'>
				<span>Nacimiento: {{data.date_birth}} <span>
			</div>
		</div>
	</div>
</div>
<a class="nav-link" href="#/">Volver</a>