<h1>Ubicacion</h1>

<form>
	<input type="text" ng-model="provSelected" placeholder="Buscar Raza" 
	uib-typeahead="data as data.nombre for data in provinces | filter:{nombre:$viewValue} |  limitTo:5"
	uib-typeahead-min-length='1' 
	class="form-control" style="width:350px;">
	<button id="autubib" ng-click="takeLatLong()">Buscar</button>
</form>

<div id="content_gmaps">
	<div id="map" style="width:50%; height: 450px; display: inline-block; vertical-align: top; text-align: left;"></div>
	<div id="list_gmaps">
		<div ng-repeat="data in ubications| filter:filtro" id="{{data.lat}},{{data.longit}}" class='gmapsclick' ng-click="searchMarker(data.chip)">
			<span><b>Nº:</b>{{$index + 1}} &nbsp; &nbsp; &nbsp;<b>Ubicacion:</b>{{data.city}}</span>
			<br/>
            <span><b>Nombre:</b> {{data.name}} </span>&nbsp; &nbsp;<span><b>Raza:</b> {{data.breed}} </span></div>
            <hr>
	</div>
</div>