<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
<div class="container">
  <span class="navbar-brand">Ohana dogs</span>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    Menu
    <i class="fa fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive" ng-controller="menuCtrl">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" >
        <a class="nav-link" href="#/">Inicio</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="#/adoptions">Adopciones</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="#/contact">Contact</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="#/ubication" ng-show="ubicaV">Ubicacion</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="#/dogs" ng-show="dogsV">Perros</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="#/login" ng-show="loginV">Iniciar sesion</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="#/blogger" ng-show="bloggerV">Blogger</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="#/blog" ng-show="blogV">Blog</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="#/profile" ng-show="profileV">Profile</a>
      </li>
      
      <div id="print_menu"></div>
      
    </ul>
  </div>
</div>
</nav>


<!-- Page Header -->
<header class="masthead" style="background-image: url('http://localhost/workspace/miejer/FW_MVC_OO_JS_ANGULARJS/frontend/assets/img/header.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Ohana dogs</h1>
          <span class="subheading">No compres, adopta.</span>
        </div>
      </div>
    </div>
  </div>
</header>